.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    width: 65%;
}

#traffic_flow_hover{
    position: absolute;
    z-index: 99999;
    top: 10px;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    height: 100px;
    color: white;
    border: none;
    background-color: rgb(121, 215, 237);
    border-radius: 20px; 
}

#return_button{
    position: absolute;
    z-index: 9999;
    top: 10px;
    right: 280px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    background-color: rgb(0, 208, 255);
    border-radius: 20%; 
}

#traffic_flow_hover h3 {
    margin: 4px 0;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 65%;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
}

.panel {
    background: lightblue;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 480px;
    font-family: Arial, Helvetica, sans-serif;
}

#year-filter{
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: black;
    border: none;
    background-color: lightblue;
}

.legend {
    position: absolute;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
    right: 0;
    margin: 10px 10px 10px 0px; /*top margin, right margin, bottom margin, left margin*/
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Safety Legend */
    #safety_legend span {
        display: inline-block;
        border-radius: 50%; 
        height: 10px; 
        width: 10px;
        margin-right: 5px; 
    }

    #safety_legend div:nth-child(2) span {
        background-color: rgba(0,0,0,0); 
    }

    #safety_legend div:nth-child(3) span {
        background-color: #deebf7;
    }

    #safety_legend div:nth-child(4) span {
        background-color: #c6dbef;
    }

    #safety_legend div:nth-child(5) span {
        background-color: #9ecae1;
    }

    #safety_legend div:nth-child(6) span {
        background-color: #6baed6;
    }

    #safety_legend div:nth-child(7) span {
        background-color: #4292c6;
    }

    #safety_legend div:nth-child(8) span {
        background-color: #2171b5;
    }

    #safety_legend div:nth-child(9) span {
        background-color: #045296;
    }


/* Traffic Flow Legend */
    #traffic_flow_legend span {
        display: inline-block;
        border-radius: 50%; 
        height: 10px; 
        width: 10px;
        margin-right: 5px; 
    }

    #traffic_flow_legend div:nth-child(2) span {
        background-color: #6E6B6B; 
    }

    #traffic_flow_legend div:nth-child(3) span {
        background-color: #e5f5e0;
    }

    #traffic_flow_legend div:nth-child(4) span {
        background-color: #a1d99b;
    }

    #traffic_flow_legend div:nth-child(5) span {
        background-color: #74c476;
    }

    #traffic_flow_legend div:nth-child(6) span {
        background-color: #31a354;
    }

    #traffic_flow_legend div:nth-child(7) span {
        background-color: #006d2c;
    }


/* Infrastructure Legend */
    #infrastructure_legend span.infra-line {
        display: inline-block;
        height: 3px;
        width: 20px;
        margin-right: 5px;
        vertical-align: middle;
        border-radius: 2px;
    }